#container {
  background-color: #2980b9;
  width: 45%;
  margin: auto;
  padding: 40px;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 96%;
  box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border: 1px solid #CCC;
  background: #FFF;
  margin-bottom: 15px;
  padding: 10px;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #95a5a6;
  background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color: #FFF;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

